@model EmpManagement.Models.EmployeeDetails
@{
    ViewBag.Title = "Delete Employee";
}

<h2>Are you sure you want to Delete this Employee?</h2>
@using (Html.BeginForm("DeleteUser", "Employee"))
{
    
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    
    <fieldset>  
        @Html.HiddenFor(model => model.EmployeeID)
        Employee Name:
    <div class="editor-field">
         @Html.EditorFor(model => model.EmployeeName)
         @Html.ValidationMessageFor(model => model.EmployeeName)
    </div>
  
        Address:
    <div class="editor-field">
         @Html.EditorFor(model => model.Address)  
         @Html.ValidationMessageFor(model => model.Address)
    </div>
        Date Of Birth:
    <div class="editor-field">
         @Html.EditorFor(model => model.DOB)  
         @Html.ValidationMessageFor(model => model.DOB)
    </div>
      Salary:
    <div class="editor-field">
         @Html.EditorFor(model => model.salary)  
         @Html.ValidationMessageFor(model => model.salary)
    </div>
        <p>
          <input type="submit" value="Save" />
        </p>
    </fieldset>
}