@model EmpManagement.Models.EmployeeDetails
@{
    ViewBag.Title = "EditEmployee";
}
<link rel="stylesheet" href="@Url.Content("../../Content/reset.css")"/>
<link rel="stylesheet" href="@Url.Content("../../Content/style.css")"/>
<div class="container">
  <div class="info">
   <h1>Edit Employee</h1>
  </div>
</div>
@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
     <div class="form"> 
    <div class="login-form">
    <fieldset style = "font-family:Times New Roman;">  
        @Html.HiddenFor(model => model.EmployeeID)
        Employee Name:
    <div class="editor-field">
         @Html.EditorFor(model => model.EmployeeName)
         @Html.ValidationMessageFor(model => model.EmployeeName, "Employee name is required", new { style = "font-size:12px" })
    </div>
  
        Address:
    <div class="editor-field">
         @Html.EditorFor(model => model.Address)  
         @Html.ValidationMessageFor(model => model.Address, "Address is required",new { style = "font-size:12px" })
    </div>
        Date Of Birth:
    <div class="editor-field">
         @Html.EditorFor(model => model.DOB)  
         @Html.ValidationMessageFor(model => model.DOB, "Date of birth is required",new { style = "font-size:12px" })
    </div>
      Salary:
    <div class="editor-field">
         @Html.EditorFor(model => model.salary)  
         @Html.ValidationMessageFor(model => model.salary, "Salary is required",new { style = "font-size:12px" })
    </div>
        <p>
           <button type="submit">Edit Employee</button>
        </p>
    </fieldset>
    </div>
    </div>
}