@model IEnumerable<EmpManagement.Models.EmployeeDetails>
@{
    ViewBag.Title = "Index";
}
@section css {
    <link href="@Url.Content("../../assets/css/bootstrap.css")" rel = "stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="@Url.Content("../../assets/css/font-awesome.min.css")" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="@Url.Content("../../assets/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("../../Content/Login.css")" rel = "stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
}
<div id="header">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Employee Management System </a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Logout")"><strong>Logout</strong></a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
@{
    EmpManagement.Models.EmployeeDetails info = ViewBag.PagingInfo;
}
<div class="container">
    
  
        @using (Html.BeginForm("Index", "Employee", FormMethod.Post))
        {  
            @Html.Hidden("PageCount", info.PageCount)
            @Html.Hidden("PageSize", info.PageSize)
            @Html.Hidden("CurrentPageIndex", info.CurrentPageIndex)
            @Html.Hidden("SortField", info.SortField)
            @Html.Hidden("SortDirection", info.SortDirection)
            <div class="col-lg-12">
        <input type="button" class = "btn pull-right" onclick = "location.href = '@Url.Action("CreateEmployee")'" value="Create employee"/>
            <div class="input-group col-md-3">
                <div class="input-group">
                    <input type = "text" class = "form-control clear-inp" placeholder = "Search..." name = "SearchString"
                    value="@ViewBag.SearchString"/>
                    <span class="input-group-addon"><a class="icon" onclick="document.forms[0].submit();return false;">
                        <span class="glyphicon glyphicon glyphicon-search"></span></a></span>
                </div>
            </div>
        
    </div>
              <div class="col-lg-12" style="margin-top: 25px">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            <a href="#" data-sortfield="Email" class="header">Email</a>
                        </th>
                        <th>
                            <a href="#" data-sortfield="Name" class="header">Employee Name</a>
                        </th>
                        <th>
                            <a href="#" data-sortfield="Address" class="header">Address</a>
                        </th>
                        <th>
                            <a href="#" data-sortfield="Department" class="header">Department</a>
                        </th>
                        <th>
                            <a href="#" data-sortfield="DOJ" class="header">Date of Joining</a>
                        </th>
                        <th>
                            <a href="#" data-sortfield="DOB" class="header">Date of Birth</a>
                        </th>
                        <th>
                            <a href="#" data-sortfield="Contact" class="header">Contact</a>
                        </th>
                        <th style="text-align: right;">
                            <a href="#" data-sortfield="Salary" class="header">Salary</a>
                        </th>
                        <th style="text-align: center;">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @Html.HiddenFor(model => item.EmployeeID)
                            <td>@item.email
                            </td>
                            <td>@item.EmployeeName
                            </td>
                            <td>@item.Address
                            </td>
                            <td>@item.Dept
                            </td>
                            <td>@item.DOJ.ToShortDateString()
                            </td>
                            <td>@item.DOB.ToShortDateString()
                            </td>
                            <td>@item.contact
                            </td>
                            <td style="text-align: right;">@item.salary
                            </td>
                            <td style="text-align: center;">
                                <div class="dropdown">
                                    <!--
                                <button class="btn btn-sm dropdown-toggle" style="border-radius: 20px" disabled
                                    data-toggle="dropdown"></button> -->
                                    <a data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-cog">
                                    </span></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Edit", "EditEmployee", new { id = item.EmployeeID })</li>
                                        <li><a data-toggle="modal" id = "openModal" class = "check" data-target="#myModal" data-id="@item.EmployeeID">
                                            Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
       
       
        @for (var i = 0; i < info.PageCount; i++)
        {
            if (i == info.CurrentPageIndex)
            {
            <span class="pull-left">Page @(i + 1)
                of @info.PageCount</span>
         
            }
        }
        <ul class="pagination pull-right">
            @for (var i = 0; i < info.PageCount; i++)
            {
                if (i == info.CurrentPageIndex)
                {
                    if ((i - 1) >= 0)
                    {  
                <li><a href="#" data-pageindex="@(i - 1)"
                          class="abc">&laquo;</a></li> 
                    }
                }
            }
            @for (var i = 0; i < info.PageCount; i++)
            {
                if (i == info.CurrentPageIndex)
                {
                       
                <li class="active"><a href="#" data-pageindex="@i"
                          class="abc">@(i + 1)</a></li> 
                }
                else
                {
                <li><a href="#" data-pageindex="@i"
                           class="abc">@(i + 1)</a></li>  
                }
            }
            @for (var i = 0; i < info.PageCount; i++)
            {
                if (i == info.CurrentPageIndex)
                {
                    if ((i + 1) < info.PageCount)
                    {  
                <li><a href="#" data-pageindex="@(i + 1)"
                          class="abc">&raquo;</a></li> 
                    }
                }


            }
        </ul>
    </div>
        }
</div>
<div class="for-full-back footer-emp">
    Copyright © 2016 www.leadsquared.com | All Rights Reserved
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">
                    Are you sure?</h4>
                <button style="width:50%;" class ="btn btn-default" id = "empId" value="" onclick="location.href='@Url.Action("DeleteEmployee")?id=' + $('#empId').val()">
                    Delete</button>
                <input type="button" class="btn btn-default align-button" data-dismiss="modal" value="Cancel" />
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).on("click", ".check", function () {
            var empId = $(this).data('id');
            $(".modal-header #empId").val(empId);
        });
        $(".header").click(function (evt) {
            var sortfield = $(evt.target).data("sortfield");
            if ($("#SortField").val() == sortfield) {
                if ($("#SortDirection").val() == "ascending") {
                    $("#SortDirection").val("descending");
                }
                else {
                    $("#SortDirection").val("ascending");
                }
            }
            else {
                $("#SortField").val(sortfield);
                $("#SortDirection").val("ascending");
            }
            evt.preventDefault();
            $("form").submit();
        });
        $(".abc").click(function (evt) {
            var pageindex = $(evt.target).data("pageindex");
            $("#CurrentPageIndex").val(pageindex);
            evt.preventDefault();
            $('.clear-inp').val('');
            $("form").submit();
        });
    </script>
}
