@model EmpManagement.Models.LoginDetails
@{
    ViewBag.Title = "Home";
}
@section css {
    <link href="@Url.Content("../../assets/css/bootstrap.css")" rel = "stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="@Url.Content("../../assets/css/font-awesome.min.css")" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="@Url.Content("../../assets/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("../../Content/Login.css")" rel = "stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="pull-left">
            <img src="../../Content/empSystem.jpg" style="height: 50px; border-radius: 30px;"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Employee Management System </a>
    </div>
    <!-- Collect the nav links for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#login">Login</a> </li>
            <li><a href="#home">Project</a> </li>
            <li><a href="#about">Company</a> </li>
            <li><a target="_blank" href="http://www.leadsquared.com/"><strong>Visit LeadSquared</strong>
            </a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container -->
</nav>
<div class="container">
    <!--End Navigation -->
    <section class="for-full-back color-white" id="login">
        <div class="login">
            <div class="login-triangle">
            </div>
            <h2 class="login-header">
                EMS Login</h2>
            <div class="login-container">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "createForm" }))
                {
                    <div style="font-size: 12px; padding-left: 12px;">
                        @Html.ValidationSummary(true)
                    </div>
                    @Html.AntiForgeryToken()
                    <p style="padding: 12px 12px 0px 12px;">
                        @Html.TextBoxFor(model => model.username, new { placeholder = @Html.DisplayNameFor(m => m.username) })
                        <span class=" validation-message errors" style="font-size: 12px;"></span>
                    </p>       
                    <p>
                        @Html.TextBoxFor(model => model.password, new { type = "password", placeholder = @Html.DisplayNameFor(m => m.password) })
                        <span class=" validation-message errors" style="font-size: 12px;"></span>
                    </p>  
                    <p>
                        <input type="submit" value="Login" id="formLogin" /></p>
                }
            </div>
        </div>
        <div class="row text-center">
            <h4>
                <strong>Register <a href="@Url.Action("Register")" style="font-size:18px !important">
                    <strong>here.</strong></a> </strong>
            </h4>
        </div>
    </section>
    <!--Header section  -->
    <section class="for-full-back color-light " id="home">
        <div class="container">
            <div class="row text-center ">
                <div class="col-md-8 col-md-offset-2">
                    <h1>
                        Employee Management System</h1>
                    <h4>
                        <strong>Employee management system(EMS) manages details of the subordinates in the organization.These
                            details include Employee name,Employee ID,Address etc. </strong>
                    </h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>
                        Key features of this project are as follows:</h2>
                    <p>
                        1.Ability to edit employee details and delete an employee on the fly.
                        <br />
                        2.Searching an employee based on their name.
                        <br />
                        3.Pagination.
                        <br />
                        4.Allowing data to be stored in different repositories i.e. File,SQL or JSON.
                        <br />
                    </p>
                </div>
            </div>
    </section>
    <!--End Header section  -->
    <!--About Section-->
    <section class="for-full-back color-light " id="about">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h1>
                        LeadSquared</h1>
                    <h4>
                        <strong>LeadSquared is marketing and CRM software for small and medium businesses. It
                            is robust, affordable and easy to use! </strong>
                    </h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>
                        With LeadSquared you can:</h2>
                    <p>
                        1. Create powerful landing pages to capture more leads from your marketing campaigns
                        (PPC, social and organic media)
                        <br />
                        2. Make your website conversion optimized by creating beautiful lead capture forms
                        and CTAs
                        <br />
                        3. Integrate all the apps you love, to bring all the leads from chats, web comments,
                        and webinars into one system.
                        <br />
                        4. Set email and SMS auto-responders to promptly follow leads as soon as they sign
                        up
                        <br />
                        5. Analyse the effectiveness of all your marketing campaigns,make improvements and
                        many more.
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<!--End Contact Section -->
<!--footer Section -->
<div class="for-full-back footer-emp">
    Copyright © 2016 www.leadsquared.com | All Rights Reserved
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src = "@Url.Content("../../Content/assets/plugins/jquery-1.10.2.js")"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="@Url.Content("../../Content/assets/plugins/bootstrap.js")"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.9.0/jquery.validate.min.js"></script>
    <script src ="@Url.Content("../../Content/assets/js/Home.js")"></script>
    <script src="@Url.Content("../../Content/assets/js/custom.js")"></script>
}
