@model EmpManagement.Models.LoginDetails
@{
    ViewBag.Title = "Index";
}   
<link rel="stylesheet" href="@Url.Content("../../Content/reset.css")"/>
<link rel="stylesheet" href="@Url.Content("../../Content/style.css")"/>

<div class="container">
  <div class="info">
    <h1>Login</h1>
  </div>
</div>
@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="form"> 
    <div class="login-form">
    @Html.TextBoxFor(model => model.username, new { placeholder = @Html.DisplayNameFor(m => m.username) })
     @Html.ValidationMessageFor(model => model.username, "Please enter a username", new { style = "font-size:12px" })
       @Html.TextBoxFor(model => model.password, new { @class = "form-control input-lg", placeholder = @Html.DisplayNameFor(m => m.password) })  
         @Html.ValidationMessageFor(model => model.password, "Please enter a password", new { style = "font-size:12px"})
    <button type = "submit">login</button>

  </div>
    </div>
}
