@model EmployeeManagement.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
@section css {
    <link href="@Url.Content("~/Content/assets/css/bootstrap.css")" rel = "stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="@Url.Content("~/Content/assets/css/font-awesome.min.css")" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="@Url.Content("~/Content/assets/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/Login.css")" rel = "stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="pull-left">
            <img src="../../Content/empSystem.jpg" style="height: 50px; border-radius: 30px;"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class = "navbar-brand" href="@Url.Action("Index")"><i class="glyphicon glyphicon-circle-arrow-left">
        </i></a><a class="navbar-brand">Employee Management System </a>
    </div>
    <!-- Collect the nav links for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container -->
</nav>
<!--End Navigation -->
<section class="fade-in color-white" id="login">
    <div class="login">
        @if (TempData["Success"] != null)
        {
            <div class="row text-center color-white">
                <div class="col-md-10 col-md-offset-1">
                    <h6 class="alert alert-success text-center">
                        <span class="glyphicon glyphicon glyphicon-ok"></span>&nbsp;&nbsp;@TempData["Success"]</h6>
                </div>
            </div>
        }
        <div class="login-triangle">
        </div>
        <h2 class="login-header">
            EMS Registration</h2>
        <div class="login-container">
            @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { id = "createForm" }))
            {
                 <div style="font-size: 12px; padding-left: 12px;" class="help-blocked ">
                        @Html.ValidationSummary(true, "", new { @class = "validation-message" })
                 </div>
                @Html.AntiForgeryToken()
                <p style="padding: 12px 12px 0px 12px;">
                    @Html.TextBoxFor(model => model.Email, new { placeholder = @Html.DisplayNameFor(m => m.Email) })
                    <span class=" validation-message errors register" style="font-size: 12px;"></span>
                </p>       
                <p>
                    @Html.TextBoxFor(model => model.Password, new { type = "password", placeholder = @Html.DisplayNameFor(m => m.Password) })
                    <span class=" validation-message errors register" style="font-size: 12px;"></span>
                </p>  
                <p>
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { type = "password", placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword) })
                    <span class=" validation-message errors register" style="font-size: 12px;"></span>
                </p>  
                <p>
                    @Html.TextBoxFor(model => model.Name, new { type = "text", placeholder = @Html.DisplayNameFor(m => m.Name) })
                    <span class=" validation-message errors register" style="font-size: 12px;"></span>
                </p>  
                <p>
                    @Html.TextBoxFor(model => model.Contact, new { type = "number", placeholder = @Html.DisplayNameFor(m => m.Contact) })
                    <span class=" validation-message errors register" style="font-size: 12px;"></span>
                </p>  
                <p>
                    <input type="submit" value="Register" id="formLogin" /></p>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src = "@Url.Content("~/Content/assets/plugins/jquery-1.10.2.js")"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap.js")"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.9.0/jquery.validate.min.js"></script>
    <script src ="@Url.Content("~/Content/assets/js/Register.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/custom.js")"></script>
}
<div class="for-full-back footer-emp">
    Copyright © 2016 www.leadsquared.com | All Rights Reserved
</div>
